<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Blog</title>
</head>
<body>
<h1>Create Blog</h1>
<p>
    <a href="/home"> >>> Back to Blog list <<< </a>
</p>
<th:block th:if="${message}">
    <p style="color: red" th:text="${message}"></p>
</th:block>
<form th:action="@{/create-blog}" th:object="${blog}" method="post">
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Author</td>
            <td><input type="text" th:field="*{authorName}"/></td>
        </tr>
        <tr>
            <td>Author</td>
            <td><textarea rows="20" cols="80" th:field="*{content}" placeholder="Write something..."/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create blog"></td>
        </tr>
    </table>
</form>
</body>
</html>